<IfModule mod_rewrite.c>
    RewriteEngine On

    # Đặt base đúng tên folder project mới
    RewriteBase /bakery-laravel/public/

    # Nếu file hoặc thư mục không tồn tại → chuyển vào index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule> 
